body {
    background: linear-gradient(100deg, #333399, #ff00cc);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, .5);
    width: 450px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
}

.form-item {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8rem;
}

.homepage {
    font-size: 20px;
    font-weight: 500%;
    background: rgba(255, 255, 255, .4);
    border-radius: 100px;
    margin-top: -70px;
}

.username {
    font-size: 20px;
    font-weight: 500%;
    background: rgba(255, 255, 255, .4);
    border-radius: 100px;
    margin-top: 70px;
    background-position: center;
    width: 300px;
    margin-left: -3rem;
}