@import url("reset.css");

* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 0;
    background: linear-gradient(320deg, rgb(119, 0, 255), rgb(0, 255, 174), rgba(255, 0, 64, 0.658));
    margin-bottom: 0%;
    display: flex;
}



.road-vertical {
    width: 200px;
    height: 100vh;
    text-align: center;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 658px;
}

.white-line-v1 {
    height: 200px;
    background: white;
    width: 20px;
    margin-top: -500px;
    position: absolute;
}

.white-line-v2 {
    height: 200px;
    background: white;
    position: absolute;
    width: 20px;
}

.white-line-v3 {
    height: 200px;
    background: white;
    width: 20px;
    margin-bottom: -500px;
    position: absolute;
}

.road-horizontal-left {
    height: 200px;
    width: 666px;
    background-color: black;
    display: flex;
    position: absolute;
    left: 0;
    top: 268px;
    align-items: center;
}

.road-horizontal-right {
    right: 0;
    top: 268px;
    height: 200px;
    width: 679px;
    display: flex;
    position: absolute;
    background-color: black;
    align-items: center;

}

.white-line-left-h1 {
    left: 0;
    width: 200px;
    height: 20px;
    background-color: white;
}

.white-line-left-h2 {
    margin-left: 50px;
    min-width: 200px;
    min-height: 20px;
    background-color: white;
}

.white-line-left-h3 {
    margin-left: 50px;
    min-width: 200px;
    min-height: 20px;
    background-color: white;
}

.white-line-right-h1 {
    margin-left: 0;
    width: 200px;
    height: 20px;
    background-color: white;
}

.white-line-right-h2 {
    margin-left: 50px;
    width: 200px;
    height: 20px;
    background-color: white;
}

.white-line-right-h3 {
    margin-left: 50px;
    width: 200px;
    height: 20px;
    background-color: white;
}

.signal-body-leftTop {
    left: 470px;
    top: 30px;
    position: absolute;
    display: flex;
    height: 200px;
    width: 80px;
    background-color: black;
    border-radius: 40px;
    border: 4px solid gray;
}

.signal-body-rightTop {
    right: 490px;
    top: 30px;
    position: absolute;
    display: flex;
    height: 200px;
    width: 80px;
    background-color: black;
    border-radius: 40px;
    border: 4px solid gray;
}

.signal-body-rightBottom {
    right: 490px;
    bottom: 30px;
    position: absolute;
    display: flex;
    height: 200px;
    width: 80px;
    background-color: black;
    border-radius: 40px;
    border: 4px solid gray;
}

.signal-body-leftBottom {
    left: 470px;
    bottom: 30px;
    position: absolute;
    display: flex;
    height: 200px;
    width: 80px;
    background-color: black;
    border-radius: 40px;
    border: 4px solid gray;
}

.red-leftTop {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    top: 10px;
    left: 12px;
}

.yellow-leftTop {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    top: 72px;
    left: 12px;
}

.green-leftTop {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    bottom: 10px;
    left: 12px;
}

.green-leftBottom {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    bottom: 10px;
    left: 12px;
}

.yellow-leftBottom {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    top: 72px;
    left: 12px;
}

.red-leftBottom {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    top: 10px;
    left: 12px;
}

.red-rightBottom {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    top: 10px;
    left: 12px;
}

.yellow-rightBottom {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    top: 72px;
    left: 12px;
}

.green-rightBottom {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    bottom: 10px;
    left: 12px;
}

.red-rightTop {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    top: 10px;
    left: 12px;
}

.yellow-rightTop {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    top: 72px;
    left: 12px;
}

.green-rightTop {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid gray;
    position: absolute;
    bottom: 10px;
    left: 12px;
}

.rightTop-countBox {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    right: 88px;
    top: 72px;
    border-radius: 10px;
    padding: 35px;
}

.rightTop-human {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    left: 20px;
    top: 72px;
    border-radius: 10px;
    padding: 35px;
}

.leftTop-countBox {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    right: 88px;
    top: 72px;
    border-radius: 10px;
    padding: 35px;
}

.leftTop-human {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    left: 20px;
    top: 72px;
    border-radius: 10px;
    padding: 35px;
    text-align: center;
    display: flex;
}

.rightBottom-countBox {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    right: 88px;
    top: 72px;
    border-radius: 10px;
    padding: 35px;
}

.rightBottom-human {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    left: 20px;
    top: 72px;
    border-radius: 10px;
    padding: 35px;
}

.leftBottom-countBox {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    right: 88px;
    top: 72px;
    border-radius: 10px;
    padding: 35px;
}

.leftBottom-human {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: black;
    left: 20px;
    top: 72px;
    border-radius: 10px;
    padding: 35px;
}

.count-num-RB {
    position: absolute;
    top: 11px;
    left: 19px;
    font-size: 25px;
    background: gray;
    padding: 10px;
    border-radius: 10px;
}

.count-num-LB {
    position: absolute;
    top: 11px;
    left: 19px;
    font-size: 25px;
    background: gray;
    padding: 10px;
    border-radius: 10px;
}

.count-num-RT {
    position: absolute;
    top: 11px;
    left: 19px;
    font-size: 25px;
    background: gray;
    padding: 10px;
    border-radius: 10px;
}

.count-num-LT {
    position: absolute;
    top: 11px;
    left: 19px;
    font-size: 25px;
    background: gray;
    padding: 10px;
    border-radius: 10px;
}

.human-RT {
    position: absolute;
    left: 6px;
    top: 3px;
}

.human-RB {
    position: absolute;
    right: -2px;
    top: -5px;
}

.human-LB {
    position: absolute;
    left: 6px;
    bottom: 0.05px;
}

.human-LT {
    position: absolute;
    left: 3px;
    top: -5px;
}