body{
    display: flex;
    background-color: #3d3d3d;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: #efefef;
    border-radius: 30px;
}

.main form input{
    height: 50px;
    width: 300px;
    border-style: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.main form #update{
    margin-top: 40px;
    background-color: #291e;
    color: white;
    width: 200px;
    position: relative;
    left: 50px;
}

.main form #update:hover{
    opacity: 0.8;
}