<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book Details</title>
    <link rel="stylesheet" href="../static/addBookDetails.css">
</head>
<body>
    <div class="main">
        <form action="/bookData" method="post">
            <input type="text" placeholder="enter book id" name="bookId" required><br>
            <input type="text" placeholder="enter book name" name="bookName" required><br>
            <input type="number" placeholder="enter book quantity" name="bookQty" required><br>
            <input id="submit" type="submit" value="Add Details">
        </form>

    </div>
</body>
</html>