<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book Details</title>
    <link rel="stylesheet" href="../static/addBookDetails.css">
</head>
<body>
    <div class="main">
        <form action="/memberData" method="post">
            <input type="text" placeholder="enter member id" name="memberId" required><br>
            <input type="text" placeholder="enter member name" name="memberName" required><br>
            <input type="email" placeholder="enter member email" name="email" required><br>
            <input id="submit" type="submit" value="Add Details">
        </form>

    </div>
</body>
</html>