{% extends 'base.html' %}
{% block title %}
Delete Issue Details
{% endblock title %}
{% block content %}

<div class="contain">
    <div class="main">
        <form action="/deleteIssueData" method="post">
            <h2>Issue Book</h2>

            <input type="text" placeholder="enter book id" name="bookId" required><br>
            <input type="text" placeholder="enter member id" name="memberId" required><br>
            <input id="delete" type="submit" value="Delete">
        </form>
    </div>
</div>
{% endblock content %}

