{% extends 'base.html' %}
{% block title %}
Issued Books Details
{% endblock title %}
{% block content %}
<div class="search">
    <input id="srh" type="search" placeholder="Search book...">
    <input id="sub" type="button" value="search">
</div>
<div class="view-books">
    <table>
        <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Member ID</th>
        <th>Member Name</th>
        <th>Email</th>
        <th>Book Quantity</th>
        <th>Due Date</th>       
        </tr>
        
    {% for row in rows %}
        <tr>
            <td align="center">{{row["book_id"]}}</td>
            <td align="center">{{row["book_name"]}}</td>
            <td align="center">{{row["member_id"]}}</td>
            <td align="center">{{row["member_name"]}}</td>
            <td align="center">{{row["email"]}}</td>
            <td align="center">{{row["book_qty"]}}</td>
            <td align="center">{{row["due_date"]}}</td>

        </tr>
    {% endfor %}
  
    </table>

</div>
{% endblock content %}